@charset "utf-8";
/* reminder - specifies the character encoding used in the style sheet */
*{
	margin: 0;
	padding: 0;
	font-family: 'League Spartan', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/unsplash-office.jpeg);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav {
	display: flex;
	padding: 2% 2%;
	/* preferred padding 2% 2% original padding: 2% 6%*/
	justify-content: space-between;
	align-items: center;
}
nav img {
	width: 150px;
}
.nav-links ul {
	flex: 1;
	text-align: right;
}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a i{
	font-size: 18px;
	color: #00b27d;
	transition: 0.5s;
	padding-right: 7px;
}
.nav-links ul li a span{
	color: #00b27d;
	font-weight: 300;
	font-family: 'League Spartan', sans-serif;
	letter-spacing: 1px;
	transition: 0.5s;
}
.nav-links ul li a{
	display: flex;
	align-items: center;
	text-decoration: none;
	width: 130px;
	height: 45px;
	background: #fff;
	padding-left: 10px;
	position: relative;
	transition: 0.5s;
}
.nav-links ul li a::before{
	content: '';
	position: absolute;
	top: 5px;
	left: -10px;
	height: 100%;
	width: 10px;
	background: #d9d9d9;
	transition: 0.5s;
	transform: skewY(-45deg);
}
.nav-links ul li a::after{
	content: '';
	position: absolute;
	bottom: -10px;
	left: -5px;
	height: 10px;
	width: 100%;
	background: #d9d9d9;
	transition: 0.5s;
	transform: skewX(-45deg);
}
.nav-links ul li:hover i{
	color: #fff;
}
.nav-links ul li:hover span{
	color: #fff;
}
.nav-links ul li:hover a{
	background: #00b27d;
	transform: translate(15px, -15px);
	box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5)
}
.nav-links ul li:hover a::before{
	background: #008037;
}
.nav-links ul li:hover a::after{
	background: #3ab78d;
}
.header svg {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-family: 'League Spartan', sans-serif;
	font-weight: 100;
	font-size: 250px; 
}
.header .copy {
	fill: none;
	stroke: #fff;
	stroke-width: 3px;
	stroke-dasharray: 8% 30%;
	stroke-dashoffset: 0%;
	animation: textanimation 7s linear infinite;
}
@keyframes textanimation {
	100%{
		stroke-dashoffset: -35%;
	}
}
.header .copy1{
	stroke: #fff;
	animation-delay: -1s;
}
.header .copy2{
	stroke: #3ab78d;
	animation-delay: -2s;
}
.header .copy3{
	stroke: #00b27d;
	animation-delay: -3s;
}
.header .copy4{
	stroke: #008037;
	animation-delay: -4s;
}
.header .copy5{
	stroke: #85553c;
	animation-delay: -5s;
}
.text-box {
	margin-top: 20px;
	width: 90%;
	color: #fff;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	font-family: 'League Spartan', sans-serif;
}

.text-box p {
	font-size: 30px;
	margin-bottom: 20px;

}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 20px;
	color: #fff;
	background: transparent;
	position: relative;
	cursor: pointer;
}
